.Navigation {
  color: #eee;
  background-color: #222;
}

.GameBoard {
  position: relative;
  height: 100%;
  width: 100%;
  color: #000;
  transform-style: preserve-3d;
}
.BoardLayer {
  position: absolute;
  height: 100%;
  width: 100%;
  perspective: 2000px;
  transform-style: preserve-3d;
}
