.App {
  text-align: center;
}

.Navigation {
  color: #eee;
  background-color: #222;
}

.GameBoard {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 800px;
}
.BoardLayer {
  position: relative;
  height: 100%;
  width: 100%;

  transform-style: preserve-3d;
}
